@import 'variables';
@import '../settings';

a, body, button, div, form, html, img, label, span, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.main-email-bg {
  background: $main-bg-color;
}

p {
  margin: 0;
}

.pb-15 {
  padding-bottom: 15px;
}

.vertical-top {
  vertical-align: top;
}

.table-full-width {
  width: 100%;
}

.button {
  border-radius: $border-radius;
  td {
    border-radius: $border-radius;
  }
}

.no-padding-bottom {
  padding-bottom: 0;
}

.img-table {
  margin: 0;
}

.main-wrapper {
  height: auto !important;
}
