@import 'variables';
@import '../settings';


.head-shadow {
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

.main-td-head {
  padding: 16px 20px;

  @media (max-width: $breakpoint-mobile) {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  //table > tr > td {
  //  vertical-align: middle;
  //}
}

.logo {
  img {
    border: 0;
    width: 166px;
    height: 28px;
    outline: none;
  }
}

.date {
  font-size: 12px;
  line-height: 14px;
  color: $grey-color;
  vertical-align: middle;
}


.main-td-body {
  padding: 30px 10px 0;

  @media (max-width: $breakpoint-mobile) {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
.main-td-footer {
  padding: 20px 10px;

  .footer-bot {
    vertical-align: middle;
  }

  .main-td-footer-bottom {
    padding-top: 20px;
    margin: 0;

    .is-first {
      padding-left: 0 !important;
    }
    .is-last {
      padding-right: 0 !important;
    }
  }


  @media (max-width: $breakpoint-mobile) {
    padding-left: 5px !important;
    padding-right: 5px !important;

    .main-td-footer-bottom {
      .is-first {
        padding-left: 0 !important;
      }
      .is-last {
        padding-right: 0 !important;
      }
    }
  }
}

.table__store-link {
  td {
    text-align: right;
    padding-bottom: 10px;
  }

  @media (max-width: $breakpoint-mobile) {
    &,
    tbody {
      display: flex !important;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: 10px !important;
    }
    tr {
      display: block !important;
    }
    td {
      display: block !important;
      margin-right: 20px !important;
      padding-bottom: 0 !important;
    }
  }
}

.store-link {
  display: inline-block;
  width: 135px;
  height: 40px;
  vertical-align: baseline;

  img {
    display: block;
    width: 135px;
    height: 40px;
    vertical-align: baseline;
  }
}

.footer__item {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 20px;

  .footer__title {
    display: block;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 0 10px;
  }

  &.no-padding-bottom {
    padding-bottom: 0;
    margin: 0;
  }
}

.table-social {
  td {
    padding-right: 25px;
    height: 18px;
    width: 18px;
    vertical-align: middle;
  }
}

.social-link {
  display: inline-block;
  width: 18px;
  height: 18px;

  img {
    display: block;
    width: 18px;
    height: 18px;
  }
}

.welcome {
  display: block;
  font-size: 18px;
  line-height: 22px;
  color: $color-black;
  padding: 0;
  margin: 0 0 30px;
}

.table-list {
  & > tr:last-child > td {
    padding-bottom: 50px;
  }
}

.table__title {
  margin: 0;
  padding: 0;

  td {
    font-size: 17px;
    line-height: 24px;
    color: $text-color;
    font-weight: bold;
    vertical-align: top;
  }

  .table__title-td-value {
    padding-left: 5px;
  }
  .table__title-td__image {
    width: 20px;
    padding-top: 2px;
  }

  img {
    outline: 0;
    text-decoration: none;
    width: 20px;
    height: 20px;
    vertical-align: top;
  }
}

.item-icon-table {
  width: 24px;
  height: 24px;

  td {
    width: 24px;
    height: 24px;
  }
}
.item {
  margin: 0 0 15px;
  border-radius: $border-radius;

  &.item-last {
    margin-bottom: 0;
  }

  & > tr > td {
    padding: 10px 20px 15px;

    &.no-padding-bottom {
      padding-bottom: 0;
    }
  }
  .price {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: $text-color;
    text-align: right;
    padding: 0;
    margin: 5px 0 10px;

    @media (max-width: $breakpoint-mobile) {
      font-size: 16px !important;
      line-height: 16px !important;
    }
  }
  .price-value {
    display: block;
    font-size: 13px;
    line-height: 13px;
    color: $color-gray;
    text-align: right;
    padding: 1px 0 10px;
  }
  .item__head--block {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
  }
  .item__head--table {
    width: 100%;
    td {
      padding-bottom: 10px;
    }
  }
  .item__link-main-td {
    padding-top: 5px;
  }
  .item__link-main {
    display: block;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: $color-blue;
    margin: 0;
    padding: 0;
    max-width: 100%;
    word-break: break-word;

    @media (max-width: $breakpoint-mobile) {
      font-size: 16px !important;
      line-height: 16px !important;
    }
  }
  .item__status {
    display: inline-block;
    height: 29px;
    width: auto;
    margin-bottom: 15px;

    img {
      display: block;
      height: 29px;
    }
    @media (max-width: $breakpoint-mobile) {
      img {
        height: 29px !important;
      }
    }
  }
  .item__subinfo {
    display: block;
    width: 100%;
    font-size: 13px;
    line-height: 13px;
    color: $color-gray;
    padding: 1px 0 5px;
  }
  .item__td-list {
    border-bottom: 1px solid $separator-color;

    &.no-border {
      border: none;
    }
  }
  .item__footer {
    font-size: 13px;
    line-height: 20px;
    padding-top: 6px;
    color: $text-color;
  }
}//item

.item__list {
  width: 100%;

  td {
    padding: 0;
  }
  .item__list--td-icon {
    width: 34px;
    vertical-align: top;

    img {
      width: 24px;
      height: 24px;
    }
  }
  .item__list--td-data {
    font-size: 13px;
    line-height: 16px;
    color: $text-color;
    padding: 4px 0 16px;
  }
}
