//sizes
$grid-container-width: 640px;

//fonts
$font-size-base: 16px;
$line-height-base: 23px;
$font-family-base: 'Verdana', 'Helvetica', sans-serif;


//colors
$text-color: #333333;
$white: #ffffff;


$page-background-color: $white;
